<%- include ("partials/header") %>

<div>
    <h1>
        Cisco Meeting Server
    </h1>
</div>
<!--Manipulating some data-->
<% var calls = httpdetails.body.calls.$.total %>
<!--Manipulating some data-->

<div style="padding: 20px 0px 0px 10px;">

    <div class="panel panel--loose panel--raised base-margin-bottom">
        <h2 class="subtitle">All Calls</h2>
        <hr>
        <div class="section">
            <div class="responsive-table">
                <table class="table table--lined table--selectable">
                    <thead>
                        <tr>
                            <th>Parameter</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Total Number of Calls</td>
                            <td><%= httpdetails.body.calls.$.total %></td>
                        </tr>
                    </tbody>    
                </table><br>
                <table class="table table--lined table--selectable">
                    <thead>
                        <tr>
                            <th>Call ID</th>
                            <th>Meeting Name</th>
                            <th>CoSpace ID</th>
                            <th>Correlator ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(calls!=0){ %>
                            
                            <% for (var i=0; i < calls ; i++) { %>

                                        <tr>
                                            <td> <%= httpdetails.body.calls.call[i].$.id %></td>
                                            <td> <%= httpdetails.body.calls.call[i].name[0] %> </td>
                                            <td> <%= httpdetails.body.calls.call[i].coSpace[0] %> </td>
                                            <td> <%= httpdetails.body.calls.call[i].callCorrelator[0] %> </td>
                                        </tr>
                            <% } %>
                       <% } %>
                    </tbody>
                </table><br>
            </div>
        </div>
    </div>
</div>


<%- include ('partials/footernotification') %>