<%- include ("partials/header") %>

<div>
    <h1>
        Cisco Meeting Server
    </h1>
</div>
<!--Manipulating some data-->
<!--Manipulating some data-->

<div style="padding: 20px 0px 0px 10px;">

    <div class="panel panel--loose panel--raised base-margin-bottom">
        <h2 class="subtitle">All Calls</h2>
        <hr>
        <div class="section">
            <div class="responsive-table">
                <table class="table table--lined table--selectable">
                    <thead>
                        <tr>
                            <th>Parameter</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Total Number of Calls</td>
                            <td><%= httpdetails.body.calls.$.total %></td>
                        </tr>
                        <tr>
                            <td>Call 1 ID</td>
                            <td><%= httpdetails.body.calls.call[0].$.id %></td>
                        </tr>
                        <tr>
                            <td>Call 1 Name</td>
                            <td><%= httpdetails.body.calls.call[0].name[0] %></td>
                        </tr>
                        <tr>
                            <td>Call 1 Cospace ID</td>
                            <td><%= httpdetails.body.calls.call[0].coSpace[0] %></td>
                        </tr>
                        <tr>
                            <td>Call 1 Call Correlator ID</td>
                            <td><%= httpdetails.body.calls.call[0].callCorrelator[0] %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<%- include ('partials/footernotification') %>