<%- include ("partials/header") %>

<div>
    <h1>
        Cisco Meeting Server
    </h1>
</div>
<!--Manipulating some data-->
<% var alarmcount = httpdetails.body.alarms.$.total %>
<!--Manipulating some data-->

<div style="padding: 20px 0px 0px 10px;">

    <div class="panel panel--loose panel--raised base-margin-bottom">
        <h2 class="subtitle">Alarms and Status</h2>
        <hr>
        <div class="section">
            <div class="responsive-table">
                <table class="table table--lined table--selectable">
                    <thead>
                        <tr>
                            <th>Total Number of Alarms</th>
                            <th><%= httpdetails.body.alarms.$.total %></th>
                        </tr>
                    </thead>
                </table> <br>
                <table class="table table--lined table--selectable">
                    <thead>
                        <tr>
                            <th>Alarm ID</th>
                            <th>Type</th>
                            <th>Active Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(alarmcount!=0){ %>
                            <% for (var i=0; i < alarmcount ; i++) { %>
                                <tr>
                                    <td><%= httpdetails.body.alarms.alarm[i].$.id %></td>
                                    <td><%= httpdetails.body.alarms.alarm[1].type[0] %></td>
                                    <td><%= httpdetails.body.alarms.alarm[1].activeTimeSeconds[0] %></td>
                                </tr>
                            <% } %>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<%- include ('partials/footernotification') %>